img{
    width: 100vh;
    height: 70%;
}
.round{
    height: 50%;
}
.space{
    border-radius: 10px;
    width: 80%;
}
.nodec{
    text-decoration: none;
}
.big{
    font-size: xxx-large;
    font-family: cursive;
}
.lit{
    font-size: x-large;
    font-family: fantasy;
}
.slogan{
    font-size: x-large;
    font-family: cursive;
}
.tlarge{
    font-size: xxx-large;
    font-family: sans-serif;
}
.profilePic{
    height: 65px;
    width: 65px;
    border: solid goldenrod;
    border-radius: 100px;
}
.ico{
    font-size: xx-large;
}
.rad{
    border-radius: 100px;
}
.bbot{
    border-bottom: solid darkgrey;
}
.bside{
    border-left: solid darkgray;
    border-right: solid darkgrey;
}
.big2{
    font-size: x-large;
    font-family: cursive;
}
.lit2{
    font-size: large;
    font-family: fantasy;
}