img{
    width: 100vh;
    height: 70%;
}

.round{
    height: 50%;
}
.space{
    border-radius: 10px;
    width: 80%;
}
.nodec{
    text-decoration: none;
}
#post
{
    border: none; 
    outline:none; 
    overflow:auto;
    font-size:15px;
    height: 20px;
    width: 100%;
}

.spread 
{
    width: 100%;
}
.big{
    font-size: xxx-large;
    font-family: cursive;
}
.lit{
    font-size: x-large;
    font-family: fantasy;
}
.slogan{
    font-size: x-large;
    font-family: cursive;
}
.tlarge{
    font-size: xxx-large;
    font-family: sans-serif;
}
.profilePic{
    height: 50px;
    width: 50px;
    border: solid goldenrod;
    border-radius: 50%;
}
.ico{
    font-size: larger;
}
.rad{
    border-radius: 100px;
}
.bbot{
    border-bottom: 1px solid darkgrey;
}
.bbotbig{
    border-bottom: 7px solid rgba(169, 169, 169, 0.363);
}
.bside{
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgrey;
}
.big2{
    font-size: xx-large;
    font-family: cursive;
}
.lit2{
    font-size: large;
    font-family: fantasy;
}
ul{
    list-style-type: none;
}
.long{
    height: 100vh;
}
.sicon{
   font-size: x-large;
}
.stext{
    font-size: x-large;
}
.silist:hover{
    text-decoration: none;
    color: gold;
}
.silist{
    color: black;
}
.main-frame
{
    text-align: center;
}
.collapse{
    display: none;
}